*.identcache
*.local
*.stat
*.dcu
*.cfg
*.dof
*.skincfg
demos/FileEncrypt/__history/
demos/VclCrypt/__history/Unit2.dfm.~1~
demos/VclCrypt/__history/Unit2.dfm.~2~
demos/VclCrypt/__history/
Source/__history/
modules/
Tests/__history/
*.exe
demos/DCPCrypt/FileEncrypt/__history/
demos/DCPCrypt/VclCrypt/__history/
Tests/Win32/Debug/dunitx-results.xml
Tests/Win32/Debug/TestInsightSettings.ini
